@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* Custom Styles */
.navbar {
  background-color: transparent !important;
  z-index: 10;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
  color: grey;
  position: relative;
  padding: 10px 10px;
  margin-left: 45px;

}

.btn-cv, .btn-hire-me {
  padding: 10px 20px;
  color: rgb(128, 128, 128);
  /* border: 2px solid burlywood; */
  border-radius: 5px;
  background-color: rgba(150, 150, 150, 0.308);
  transition: background-color 1s ease, color 1s ease;
  font-weight: bold;
  font-size: 0.7rem;
  margin-left: auto;
}

.btn-cv:hover {
  background-color: burlywood;
  color: white;
  border-color: burlywood;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-brand {
  color: burlywood;
  transition: transform 0.5s ease, color 1s ease;
  display: flex; /* Ensure the logo aligns well */
  align-items: center;
}

.navbar-brand img {
  height: 100px; 
  max-height: 100px; 
  object-fit: contain;
  display: block;
  margin-bottom: -60px;
  margin-top: -60px;
}

.navbar-brand:hover {
  color: burlywood;
  transform: scale(1.1);
}



/* Hover underline effect */
.navbar-nav .nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(70, 207, 231);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
  visibility: visible;
  width: 100%;
}

/* Sticky effect */
.sticky-top {
  position: sticky;
  top: 0;
  background-color: rgba(51, 51, 51, 0.8);
  backdrop-filter: blur(10px);
}

.header {
  height: 96vh;
  background: url('https://source.unsplash.com/1600x900/?nature,technology') center center/cover no-repeat;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.name-box {
  display: inline-block;
  padding: 5px 10px;
  background-color: #00674F;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.animated-text {
  overflow: hidden;
  white-space: nowrap;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(91, 91, 91);
}

#changing-text {
  border-right: 2px solid black;
  display: inline-block;
  padding: 5px;
  padding-top: 15px;
  animation: blink-caret 0.75s step-end infinite;
  color: burlywood;
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.button-container {
  margin-top: 20px;
}



.btn-hire-me {
  background-color: rgba(70, 207, 231, 0.648); 
  border: 2px solid rgba(0, 0, 128, 0); 
  color: white;
}

.btn-hire-me:hover {
  background-color: rgb(70, 207, 231); 
  color: white; 
}

.btn-hire-me img  {
  padding-bottom: 6px;
}

.btn-cv img {
  padding-bottom: 6px;
  transition: filter 1s ease, color 1s ease;
}


.btn-cv:hover img {
  filter: brightness(0) invert(1); 
}

.social-media-container {
  display: flex;
  justify-content: center;
  margin-top: 40px; 
}

.social-media-button {
  display: inline-block;
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.237);
  background-color: transparent; 
  color: gray; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px; 
  transition: color 0.5s ease, 0.5s ease; 
  text-decoration: none;
}

.social-media-button:hover {
  color: rgb(70, 207, 231);
}

/* Icon size */
.social-media-button i {
  font-size: 20px; 
}

.scroll-down {
  margin-top: 20px; /* Space above the scroll down button */
}

.scroll-button {
  display: inline-block;
  background-color: transparent; 
  border-radius: 30px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.237); 
  cursor: pointer; 
  transition: transform 0.3s ease, 0.3s ease;
  text-decoration: none;
  font-size: 16px;
  padding: 15px;
  color: #808080;
}

.scroll-button:hover {
  transform: translateY(2px);
  color: #808080;
}


.scroll-button img {
  width: 20px; 
  height: 20px;
  padding-bottom: 3px; 
  color: gray;
}

.about, .projects, .contact {
  padding: 60px 0;
}

.projects {
  padding-bottom: 0px !important;
}

.about h2, .projects h2{
  /* font-family: 'Arial', sans-serif; */
  font-size: 2.5rem;
  color: burlywood;
  margin-bottom: 20px;
}

.about img {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: -4.7vw;
}

.about-menu {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: flex-start;
}


.tab-button {
  padding: 10px 20px;
  background-color: rgba(150, 150, 150, 0.308);
  color: #808080;
  font-weight: bold;
  font-size: 0.85rem;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.tab-button.active,
.tab-button:hover {
  background-color: #46cfe7;
  color: white;
  border-color: rgba(70, 207, 231, 0.648);
}

#about-content h2 {
  color: #333333a7; 
  font-size: 26px; 
  font-weight: 700; 
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: 1px; 
  border-bottom: 2px solid burlywood; 
  padding-bottom: 5px
}
/* .tab-content {
  
  margin-top: 20px;
  border-radius: 12px;
  color: #333333a7;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.3s ease;
  display: none;
}

.tab-content.active {
  display: block;
  opacity: 1;
} */

.tab-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  /* Height management in case of overlap */padding: 25px 30px;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease, height 0.5s ease;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #333333a7;
  padding: 25px 25px;
}

.tab-content.active {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.skills-section {
  margin-bottom: 20px;
}

.skills-section h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333333d6;
  margin-bottom: 20px;
  border-bottom: 2px solid burlywood; 
}

.skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skills-list li {
  padding: 8px 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 1s ease, 0.6s ease;
}

.skills-list li:hover {
  background-color: #46cfe7;
  color: white;
  cursor: default;
}

.experience-section h3 {
  font-size: 1rem;
  /* font-weight: bold; */
  letter-spacing: 0.8mm;
  gap: 10px;
  color: #333333aa;
  cursor: pointer;
  padding: 12px;
  margin: 5px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: background-color 0.7s, color 0.7s;
}

.experience-section h3:hover {
  background-color: #46cfe7;
  color: #ffffff;
}

.arrow-icon {
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.3s;
}

.experience-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.experience-list li {
  background-color: #fafafa;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.experience-list li:hover {
  transform: scale(1.02);
}

.project-section {
    display: flex;
    justify-content: center;
    padding: 68px 112px 112px;
    width: 100%;
    box-sizing: border-box;
}

.project-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 1200px;
    max-width: 100%;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 128px;
}

.project-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 285px;
    padding: 32px;
    background: #FFFFFF;
    background-size: cover;
    background-position: center;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: 1;
}

.project-card--qas::before {
    background-image:
            linear-gradient(90deg, #46cfe7b1 0%, #46cfe7e9 100%),
            url('../assets/qas.png');
}
.project-card--qita::before {
    background-image:
            linear-gradient(90deg, #46cfe7b1 0%, #46cfe7e9 100%),
            url('../assets/qita.png');
}
.project-card--weathrly::before {
    background-image:
            linear-gradient(90deg, #46cfe7b1 0%, #46cfe7e9 100%),
            url('../assets/weathrly.png');
}
.project-card--medicare::before {
    background-image:
            linear-gradient(90deg, #46cfe7b1 0%, #46cfe7e9 100%),
            url('../assets/medicare.png');
}
.project-card--taskease::before {
    background-image:
            linear-gradient(90deg, #46cfe7b1 0%, #46cfe7e9 100%),
            url('../assets/taskease.png');
}
.project-card--vhotel::before {
    background-image:
            linear-gradient(90deg, #46cfe7b1 0%, #46cfe7e9 100%),
            url('../assets/VHotel.png');
}
.project-card--calm::before {
    background-image:
            linear-gradient(90deg, #46cfe7b1 0%, #46cfe7e9 100%),
            url('../assets/CALM.png');
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.project-card:hover::before {
    opacity: 1;
}

.project-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    position: relative;
    z-index: 2;
    transition: color 0.4s ease-in-out;
}

.project-card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #46cfe7;
    margin: 0;
}

.project-card-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #333333a7;
    margin: 0;
    max-width: 420px;
}

.project-card:hover .project-card-title,
.project-card:hover .project-card-description {
    color: #FFFFFF;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.contact {
  background: #f9f9f9;
  padding: 60px 20px;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.contact h2 {
  color: #555;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact .form-control {
  border-radius: 30px;
  padding: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.contact .form-control:focus {
  border-color: #46cfe7;
  outline: none;
}

.contact .btn-primary {
  background: #46cfe7;
  border: none;
  transition: background 0.3s ease;
}

.contact .btn-primary:hover {
  background: #46cfe794;
}

.contact #response-message {
  font-weight: bold;
  color: #deb887;
}

.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px; 
  height: 10px; 
  background-color: burlywood; 
  border-radius: 50%;
  pointer-events: none; 
  transform: translate(-50%, -50%); 
  z-index: 9999; 
  transition: transform 1s linear;
}


.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1; 
}

@media (max-width: 1000px) {
  .header h1 {
    font-size: 2.5rem;
  }

  .about img {
    max-width: 300px;
    margin: 0 auto;
  }

  .navbar-nav {
    text-align: center;
  }

  .btn-cv {
    display: none;
  }
}

@media (max-width: 1200px) {
  .header h1 {
    font-size: 3rem;
  }

  .about img {
    max-width: 60%;
  }

  .skills-section h3 {
    font-size: 1rem;
  }

 .project-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .project-card {
    max-width: 650px;
    margin: 0 auto;
    width: 100%;
  } 

}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.1rem;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .btn-cv, .btn-hire-me {
    font-size: 0.6rem;
    padding: 8px 15px;
  }

  .header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  .about-menu {
    flex-direction: column;
    align-items: center;
  }

  .skills-list {
    flex-direction: column;
    gap: 10px;
  }

  .social-media-container {
    flex-wrap: wrap;
    gap: 10px;
  }

  .contact {
    padding: 30px 15px;
  }

  .project-section{
    padding-left: 20px;
    padding-right: 20px;
  }

  .project-card {
    height: 250px;
    padding: 20px;
  }

  .project-card-title {
    font-size: 22px;
  }

  .project-card-description {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .header {
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .header h1 {
    font-size: 2rem;
  }

  .btn-cv, .btn-hire-me {
    padding: 5px 10px;
    font-size: 0.5rem;
  }

  .about img {
    width: 100%;
  }

  .social-media-button {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }

  .contact h2 {
    font-size: 1.5rem;
  }

  .project-section{
    padding-left: 12px;
    padding-right: 12px;
  }

  .project-card {
    height: 220px;
    padding: 14px;
  }

  .project-card-title {
    font-size: 20px;
  }

  .project-card-description {
    font-size: 13px;
    max-width: 280px;
  }
}